# Python을 이용한 데이터 분석의 실제

## 데이터 얻기

기초 데이터(Raw Data)를 얻는 것은 가장 기본이 되는 작업이다.

대한민국에서 제공하고 있는 공공 데이터는 각각 다음과 같은 방법으로 얻을 수 있다.

### 기상 데이터

기상자료공개포털(https://data.kma.go.kr) 접속

기후통계분석 → 기후분석 → 조건별통계 (탭)

조건 설정을 통해 일/월/년/계절별 데이터 추출

### 인구 데이터

행정안전부(www.mois.go.kr) 접속

정책자료 → 통계 → 주민등록 인구통계 → 연령별 인구현황 (탭)

연령 구분 단위, 만 연령구분 등 조건 설정을 통해 인구 데이터 추출

### 대중교통 데이터

티머니 홈페이지(https://www.t-money.co.kr) 접속

좌측 '이용안내' → 대중교통 통계자료 → 엑셀 첨부 파일 내려받기

‘버스정류장별 이용현황’, ‘지하철 노선별 역별 이용현황’, ‘지하철 유무임별 이용현황’, ‘지하철 시간대별 이용현황’

## 데이터 불러오기

### with open

In [3]:
raw_text = '''대한민국 최악의 미제사건이었던 화성 연쇄살인 사건의 범인이 경찰의 최신 DNA 판독기술에 의해 특정되었다. 하지만 범인으로 지목된 이춘재가 자신의 혐의를 완강히 부인하고 있는 상황에서 공소시효가 지난 지금, 사건의 진실을 어떻게 규명할 수 있을까?
'그것이 알고 싶다'에서는 사건이 절정으로 치달았던 지난 1992년 4월 28일, '6년간의 살인-화성연쇄살인사건'편에서 사건 당시, 현장 상황과 관계자들의 생생한 증언을 토대로 범인의 정체를 추적한 바 있다. 그리고 약 20여 년 후인 지난 2011년 5월 7일 '800회 특집, 사라진 악마를 찾아서' 편에서는 사건 당시의 기록을, 21세기 첨단 과학수사의 눈으로 살펴보며, 정교한 프로파일링으로 범인의 윤곽을 그려내기도 했다.
이날 방송할 1부에서는 과거 방송을 통해 축적된 '그알'만의 단독 자료와 데이터를 활용해서 경찰이 특정한 범인 이춘재와 당시 '그알'이 예측했던 범인의 모습이 얼마나 일치하는지를 살펴본다. 그리고, 범인 특정의 계기가 되었던 첨단 DNA 기법은 무엇인지, 현재까지 범행을 부인하고 있는 이춘재의 혐의가 입증될 수 있을지 살펴본다.
이어 오는 10월 5일 방송할 2부에서는 이춘재가 경찰에 체포된 사건이었던 ‘처제 성폭행 살인사건’을 중심으로 범인 이춘재는 어떤 인물인지를 집중 분석한다. 만일 그가 화성 연쇄 사건의 진범이라면, 어떻게 그동안 수사망을 피할 수 있었고, 어떻게 꼬리가 밟히게 된 것인지에 대해 추적한다. 또 처제 살인 직후에도 처가에 들러 일손을 돕는 대담한 행동을 했는가 하면, 1심 재판에서 사형을 선고받고 난 직후 수사관계자에게 ‘고맙다’고 말했다는 이춘재의 심리 상태와 체포와 조사과정, 그리고 수감 기간 동안 보여준 그의 기이한 발언과 행적까지 들여다본다.'''
line_list = raw_text.split('\n') # 줄바꿈 단위로 분리해서 리스트 생성

with open('raw_data.txt', 'w') as f: # 한 줄씩 써야 함
    for line in line_list:
        f.write('{}\n'.format(line))
print('현재 경로에 파일 저장 완료')

현재 경로에 파일 저장 완료

In [4]:
with open('raw_data.txt', 'r') as f: # 한 줄씩 써야 함
    for line in f.readlines():
        print(line, end ="")

대한민국 최악의 미제사건이었던 화성 연쇄살인 사건의 범인이 경찰의 최신 DNA 판독기술에 의해 특정되었다. 하지만 범인으로 지목된 이춘재가 자신의 혐의를 완강히 부인하고 있는 상황에서 공소시효가 지난 지금, 사건의 진실을 어떻게 규명할 수 있을까?
'그것이 알고 싶다'에서는 사건이 절정으로 치달았던 지난 1992년 4월 28일, '6년간의 살인-화성연쇄살인사건'편에서 사건 당시, 현장 상황과 관계자들의 생생한 증언을 토대로 범인의 정체를 추적한 바 있다. 그리고 약 20여 년 후인 지난 2011년 5월 7일 '800회 특집, 사라진 악마를 찾아서' 편에서는 사건 당시의 기록을, 21세기 첨단 과학수사의 눈으로 살펴보며, 정교한 프로파일링으로 범인의 윤곽을 그려내기도 했다.
이날 방송할 1부에서는 과거 방송을 통해 축적된 '그알'만의 단독 자료와 데이터를 활용해서 경찰이 특정한 범인 이춘재와 당시 '그알'이 예측했던 범인의 모습이 얼마나 일치하는지를 살펴본다. 그리고, 범인 특정의 계기가 되었던 첨단 DNA 기법은 무엇인지, 현재까지 범행을 부인하고 있는 이춘재의 혐의가 입증될 수 있을지 살펴본다.
이어 오는 10월 5일 방송할 2부에서는 이춘재가 경찰에 체포된 사건이었던 ‘처제 성폭행 살인사건’을 중심으로 범인 이춘재는 어떤 인물인지를 집중 분석한다. 만일 그가 화성 연쇄 사건의 진범이라면, 어떻게 그동안 수사망을 피할 수 있었고, 어떻게 꼬리가 밟히게 된 것인지에 대해 추적한다. 또 처제 살인 직후에도 처가에 들러 일손을 돕는 대담한 행동을 했는가 하면, 1심 재판에서 사형을 선고받고 난 직후 수사관계자에게 ‘고맙다’고 말했다는 이춘재의 심리 상태와 체포와 조사과정, 그리고 수감 기간 동안 보여준 그의 기이한 발언과 행적까지 들여다본다.

### csv

skip

### BeautifulSoup

웹 사이트의 텍스트만 가져오거나, HTML을 계층 구조화하여 가져올 수 있다.

In [21]:
from bs4 import BeautifulSoup
from urllib.request import urlopen

# 웹 문서에서 soup을 생성한다.
# urlopen()이 "http://"를 자동으로 추가하지 않는다는 것을 기억하자!
soup1 = BeautifulSoup(urlopen("http://www.naver.com/"))

print(soup1.get_text().split('급상승 검색어')[1].replace('\n',''))

 검색어1홍정욱2홍정욱 딸3시몬스 킹 매트리스 할인4sprx 다이어트5닥터피엘 샤워기67년의 밤7시몬스 킹 매트리스8힐링패치 반띵9메리츠 암보험10박스터11기업은행 채용12라퍼지스토어 아우터특가13백석대학교14닥터피엘15시몬스16허삼영17최성해18남궁원19포르쉐 박스터20태풍경로

### pandas

pandas를 이용하여 웹 사이트의 표 데이터를 불러올 수 있다.

In [5]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table', header=0)
summer = df[1].iloc[:,:6]
summer.columns = ['Team', 'Games', 'Gold', 'Silver', 'Bronze', 'Total']
summer['Team'] = summer['Team'].str.split('[', n=1, expand=True)
summer = summer.sort_values('Gold', ascending=False)
summer.head()

                     Team Games    Gold  Silver  Bronze  Total
153                Totals    28  5115.0  5081.0  5486.0  15682
139  United States (USA)     27  1022.0   795.0   705.0   2522
110   Soviet Union (URS)      9   395.0   319.0   296.0   1010
51   Great Britain (GBR)     28   263.0   295.0   293.0    851
24           China (CHN)     10   224.0   167.0   155.0    546

In [6]:
summer[summer['Team'].str.contains('Korea') | \
       summer['Team'].str.contains('China') | \
       summer['Team'].str.contains('Hong Kong') | \
       summer['Team'].str.contains('Taipei') | \
       summer['Team'].str.contains('Japan') ]

                      Team Games   Gold  Silver  Bronze Total
24            China (CHN)     10  224.0   167.0   155.0   546
68             Japan (JPN)    22  142.0   136.0   161.0   439
74       South Korea (KOR)    17   90.0    87.0    90.0   267
73       North Korea (PRK)    10   16.0    16.0    22.0    54
127  Chinese Taipei (TPE)     14    5.0     7.0    12.0    24
57        Hong Kong (HKG)     16    1.0     1.0     1.0     3

## pandas, NumPy, matplotlib